{
    "filament_extruder_variant": [
        "Direct Drive Standard"
    ],
    "filament_prime_volume": [
        "45"
    ],
    "filament_settings_id": [
        "Bambu PLA Basic @BBL A1(钥匙扣草稿.3mf)"
    ],
    "from": "project",
    "inherits": "Bambu PLA Basic @BBL A1",
    "name": "Bambu PLA Basic @BBL A1(钥匙扣草稿.3mf)",
    "version": "1.7.4.52"
}
