.config {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  position: relative;
  height: 100vh;
  max-height: 100vh;
  width: 100%;
  overflow: scroll;
}

.header {
  background-color: #282c34;
}

.title {
  font-size: 20px;
  color: #fff;
}
.describe {
  font-size: 15px;
  color: #cfcfcf;
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.inputImage {
  width: 100%;
  max-height: 80vh;
  object-fit: contain;
}
.previewImage {
  width: 100%;
  max-height: 40vh;
  object-fit: contain;
}

.sizeTag {
  margin: 5px;
}

.bottom {
  margin-top: 10vh;
}

.list {
  .arco-list-content {
    width: 80vw;
    margin: 0 10vw;
    height: 100vh;
    max-height: 100vh;
    overflow: scroll;
    position: relative;
  }
}

.sticky {
  background-color: #282c34;
  position: sticky;
  top: 0;
  z-index: 9;
  &.arco-list-item {
    overflow: auto;
  }
}
