.config {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header {
  background-color: #282c34;
}
.title {
  font-size: 20px;
  color: #fff;
}
.describe {
  font-size: 15px;
  color: #cfcfcf;
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.previewImage {
  width: 100%;
}
.bottom {
  margin-top: 10vh;
}
